# generated HDL files
MyCPU.*

# sbt compilation outputs
project/
target/
.bsp/

# verilator compilation outputs
sim/verilator/obj_dir/

# HDL files copied for verilator compilation
sim/verilator/*.v
